<nav class="navbar navbar-light navbar-expand-md navigation-clean">
  <a class="navbar-brand" href="#">Remote Storage</a
  ><button
    data-toggle="collapse"
    class="navbar-toggler"
    data-target="#navcol-1"
  >
    <span class="sr-only">Toggle navigation</span
    ><span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navcol-1">
    <ul class="nav navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="register">Register</a>
      </li>
      <li class="nav-item"></li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
<div class="features-clean">
  <div class="container">
    <div class="intro">
      <h2 class="text-center">Features</h2>
      <p class="text-center">Access it just like your file explorer</p>
    </div>
    <div class="row features">
      <div class="col-sm-6 col-lg-4 item">
        <i class="fa fa-map-marker icon"></i>
        <h3 class="name">Works everywhere</h3>
        <p class="description">Login from any device!</p>
      </div>
      <div class="col-sm-6 col-lg-4 item">
        <i class="fa fa-clock-o icon"></i>
        <h3 class="name">Always available</h3>
        <p class="description">Our servers keep running 24X7</p>
      </div>
      <div class="col-sm-6 col-lg-4 item">
        <i class="fa fa-list-alt icon"></i>
        <h3 class="name">Customizable</h3>
        <p class="description">
          All the feature of your file explorer are present.
        </p>
      </div>
      <div class="col-sm-6 col-lg-4 item">
        <i class="fa fa-plane icon"></i>
        <h3 class="name">Fast</h3>
        <p class="description">Access your files on the go!!</p>
      </div>
    </div>
  </div>
</div>
